body.home{
    background-color : fff;
    height : 500vh;
    width : 100vw;
    overflow-x :hidden;
}

body.home::after{
    content: "";
    position : absolute;
    width: 100%;
    height: 500vh;
    top : 0;
    bottom :0;
    left : 0;
    right : 0;
    @include tablet{
        clip-path : polygon(90% 0, 100% 0, 100% 100% , 80% 100%);
         background-color: rgb(68, 117, 173);
    }

   z-index: -1;
}

.home {
    #primary {
        width: 100vw;
        margin : 0;

        header {
           
            text-align: center;

            h1 {
                margin-top: 1.5rem;
            }
        }
    }

} 

.home .entry-header {
    font-size : clamp(.6rem, #{"-0.875rem + 8.333vw"},3rem);
}

.page-title {
    margin-top: 5%;
}


/* --------------------------------------------------------------------------------------- 
Liste des blocs de cours par type_de_cours
------------------------------------------------------------------------------------------ */
.home .cours {
    display : flex;
    flex-direction: column;
    h2 {
        text-align: center;
        
    }
    section.bloc {
       
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        article {
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border : 1px solid #aaa;
            width : 95%;
            margin : 1%;
            padding  : 1rem;
            text-align : center;
            background-color: rgb(193, 222, 255);
            border-radius: 20px;
            p {
                margin: .4rem;
                font-size: 1rem;
            }
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        } //fin article

        article:hover {
            background-color: rgb(216, 235, 255);
        }

        @include tablet {
            article {
                width : 47%;
                margin : 1%;
            }
        }
        @include desktop {
            article {
            width : 31%;
            margin : 1%;
            }
        }
    }
}



