.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    /* article {
        margin: 2%;
    }
    .galerie_info {
        display: none;
    }

    article:hover {
        margin-bottom: -2%;

        .galerie_info{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        a {
            background-color: rgba(0, 0, 0, 0.555);

            img {
                background-color: rgba(0, 0, 0, 0.555);
            }
        }
        
    } */

    .flip-card {
        margin: 2%;
        background-color: transparent;
        width: 150px;
        height: 150px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
    }


    h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
        margin-top: -5%;

        a {
            text-decoration: none;
            color: rgb(194, 194, 194);
        }

        a:hover {
            color: white;
        }
    }
}